* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  margin: 15px 30px;
}

ul {
  box-shadow: 0 6px 12px 0 rgba(o, 0, 0, 0.2);
  transition: 0.3s;
  margin: 30px 20px;
  padding: 20px 16px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  padding-left: 46px;
}

li {
  padding: 5px 10px;
  list-style: none;
}

li:first-child {
  font-size: 30px;
  font-weight: 700;
}
li:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

.pagination {
  margin: 15px 8px;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #47ccde;
  color: #47ccde;
  cursor: pointer;
}

.pagination__link {
  font-weight: 500;
}

.pagination__link--active a {
  color: #fff;
  background: #47ccde;
}

.pagination__link--disabled a {
  color: #c6c5ca;
  border: 1px solid #c6c5ca;
}
