* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  margin: 15px 30px;
}

ul {
  box-shadow: 0 6px 12px 0 rgba(o, 0, 0, 0.2);
  transition: 0.3s;
  margin: 30px 20px;
  padding: 20px 16px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  padding-left: 46px;
}

li {
  padding: 5px 10px;
  list-style: none;
}

li:first-child {
  font-size: 30px;
  font-weight: 700;
}
li:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
